.cart-main {
  color: black;
  width: 400px;
  position: fixed;
  top: 0;

  /* Hidden by default */
  right: -400px;

  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  z-index: 1;
  gap: 20px;
  transition: right 1s;
  padding: 20px 20px 0px;
  align-items: baseline;
  /* overflow: auto; */
}

.cart-main .listCart .item {
  align-items: center;
  gap: 20px;
}

.listCart {
  padding-bottom: 20px;
}

.cart-main::-webkit-scrollbar {
  width: 0;
}

/* -----------------------cart functionality------------------------ */

/* Header Styling */
.cart-main h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  border-bottom: 1px solid #ccc;
  padding: 0px 20px 20px;
}

/* Cart Item Container */
.item {
  margin-bottom: 0px;
  padding-top: 0px;
  border-bottom: 1px solid #ccc;
}

/* Product Name Styling */
.item .name {
  font-weight: 500;
  font-size: 1rem;
  color: #444;
  text-align: left;
}

/* Layout: Two Columns */
.item {
  display: grid;
  grid-template-columns: 130px auto;
  /* background-color: #d32f2f; */
  align-items: center;
  position: relative;
  padding: 20px 0px;
}

/* Column 1: Image */
.productimg-cart-frame {
  width: 120px;
  height: 140px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.productimg-cart-frame div {
  width: 100%;
  height: 140px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.productimg-cart-frame img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* Column 2: Details */
.cart-product-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: #007bff; */
  /* position: absolute; */
  top: 0px;
  right: 0px;
}

.detail-row p {
  font-size: 1rem;
}

.detail-row span {
  font-size: 0.9rem;
}

.detail-row select {
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100px;
}

.quantity-controls {
  align-items: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-flex;
  gap: 15px;
  position: relative;
  justify-content: center;
  width: 100px;
  padding: 5px 0px;
}

.quantity-controls .minus {
  border-right: 1px solid #ddd;
  padding: 0px 10px;
  font-weight: 700;
}

.quantity-controls .plus {
  border-left: 1px solid #ddd;
  padding: 0px 10px;
  font-weight: 700;
}

.detail-row button {
  color: #333;
  background-color: #ffffff00;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.detail-row .remove-btn {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 0.9rem;
}

/* ------------Cart Summary---------------- */
.cart-summary {
  text-align: center;
  background: #f1f1f1;
  padding: 40px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-summary p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #444;
  margin-bottom: 10px;
}

.cart-summary button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.cart-summary .checkout {
  background: #333;
  color: #fff;
  text-decoration: none;
  width: 100%;
}

.cart-summary .checkout:hover {
  background: #555;
}

.cart-summary .close {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: #333;
  background-color: #ffffff00;
}


.cart-summary .x-icon {
  background-color: #f1f1f1;
  height: 2.5rem;
  width: 2.3rem;
  border: #888 1px solid;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-summary .x-icon img {
width: 1.5rem;
height: auto;

}
